:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --text-font-size: 14px;
    --hero-text-color: #FFFFFF;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --address-text-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid tomato; */
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*------HEADER------*/

.header {
    border-bottom: 1px solid #ECECEC;
}

.header .container,
.nav-list,
.contact-us {
    display: flex;
    align-items: center;
}

.header .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .nav-item+.nav-item {
    margin-left: 50px;
}

.contact-us {
    margin-left: auto;
}

.header .contact-us-item+.contact-us-item {
    margin-left: 50px;
}

.logo {
    margin-right: 93px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-header {
    color: var(--primary-text-color);
}

.nav-link {
    font-weight: 500;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.current-link {
    color: var(--accent-color);
}

.contact-us-link {
    font-weight: 500;
    color: var(--secondary-text-color);
}

.contact-us-link:hover,
.contact-us-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}


/*------HEADER------*/


/*------MAIN------*/

.hero {
    text-align: center;
    background-color: var(--primary-background-color);
    color: var(--hero-text-color);
}

.hero-title {
    margin-bottom: 30px;
    margin-left: 452px;
    margin-right: 452px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: inherit;
}

.hero-btn {
    display: inline-block;
}


/* Main tasks  */

.main-tasks .container {
    padding-top: 85px;
    padding-bottom: 94px;
}

.main-tasks-list {
    display: flex;
}

.main-tasks-item {
    width: calc((100%-30)/4);
}

.main-tasks-item+.main-tasks-item {
    margin-left: 30px;
}

.main-tasks-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.main-tasks-text {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/* OUR WORK */

.our-work-title,
.our-team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.our-work .container,
.our-team .container {
    padding-bottom: 94px;
}

.our-work-list {
    display: flex;
}

.our-work-item {
    width: calc((100%-60)/3);
}

.our-work-item+.our-work-item {
    margin-left: 30px;
}


/* OUR TEAM */

.our-team {
    background-color: var(--secondary-background-color);
}

.our-team-list {
    display: flex;
}

.our-team-item {
    background-color: var(--hero-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.our-team-item+.our-team-item {
    margin-left: 30px;
}

.our-team-name,
.our-team-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.our-team-text {
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-bottom: 0;
    padding-bottom: 30px;
}


/*---PORTFOLIO----*/

.portfolio .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio .btn-list {
    display: flex;
    margin-bottom: 34px;
    justify-content: center;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
}

.current-portfolio-btn {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
}

.portfolio .img {
    margin-bottom: 20px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.portfolio-title,
.portfolio-text {
    padding-left: 24px;
}


/*------FOOTER------*/

.footer {
    background-color: var(--primary-background-color);
}

.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer,
.address-item .office {
    color: var(--hero-text-color);
}

.address-link {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-text-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.address-item+.address-item {
    margin-top: 9px;
}